*~
*.pkg.tar.xz
*.log*
.SRCINFO
build
info.json

packages/*/pkg
packages/*/src
packages/linux-user-chroot/*.tar.gz
packages/xdg-app-git/xdg-app
packages/qt5-base-git/qt5-base
packages/qt5-declarative-git/qt5-declarative
packages/qt5-xmlpatterns-git/qt5-xmlpatterns
packages/qt5-wayland-dev-git/qt5-wayland
packages/qt5-graphicaleffects-git/qt5-graphicaleffects
packages/qt5-quickcontrols-git/qt5-quickcontrols
packages/qt5-svg-git/qt5-svg
packages/greenisland-git/greenisland
packages/hawaii-qt5-wayland-git/qtwayland
packages/qml-material/qml-material
packages/qml-extras/qml-extras
packages/papyros-shell/papyros-shell
packages/papyros-files/papyros-files
packages/ostree-git/ostree-git
